[submodule "cf-deployment"]
	path = cf-deployment
	url = git@github.com:cloudfoundry/cf-deployment.git
[submodule "bosh-deployment"]
	path = bosh-deployment
	url = git@github.com:cloudfoundry/bosh-deployment.git
[submodule "prometheus-boshrelease"]
	path = prometheus-boshrelease
	url = git@github.com:cloudfoundry-community/prometheus-boshrelease.git
[submodule "concourse-deployment"]
	path = concourse-deployment
	url = git@github.com:concourse/concourse-deployment.git
[submodule "kubo-deployment"]
	path = kubo-deployment
	url = git@github.com:cloudfoundry-incubator/kubo-deployment.git
[submodule "logstash-boshrelease"]
	path = logstash-boshrelease
	url = git@github.com:making/logstash-boshrelease.git
[submodule "elasticsearch-boshrelease"]
	path = elasticsearch-boshrelease
	url = git@github.com:making/elasticsearch-boshrelease.git
